
body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
 buttons{
    align-content: flex-start;
 }

 principals{
    font-size: larger;
    align-content: center;
    text-align: center;
    flex: content;
 }
